@import "media.css";
@import "shortcuts.css";
@import "avatar.css";
@import "footer.css";

body {
    margin: 0 auto;
}

@media (--extra-large-screen){
    body {
        width: 960px;
        margin-left: 480px;
        
    }
    .layout-container {
        padding-top: 5em;
    }
    .side-container {
        top: 5em;
    }
}

@media (--large-screen){
    body {
        width: 960px;
        margin-left: 120px;
    }
    .layout-container {
        padding-top: 5em;
    }
    .side-container {
        top: 5em;
    }
}

@media (--normal-screen){
    body {
        width: 860px;
        margin-left: 60px;
    }
    .layout-container {
        padding-top: 5em;
    }
    .side-container {
        top: 5em;
    }
}

@media (--pad-screen){
    body {
        width: 860px;
        margin-left: 60px;
    }
    .layout-container {
        padding-top: 3em;
    }
    .side-container {
        top: 3em;
    }
}

@media (--phone-screen){
    body {
        width: 90%;
    }
    .layout-container {
        padding-top: 3em;
    }
    
    .side-container {
        top: 3em;
    }
}

.layout-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: auto;
}

.side-container {
    align-self:flex-start;
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-container nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding-bottom: 5em;
}

.main-container article {
    text-align: justify;
    width: 100%;
}