@import "prism.css";
@import "media.css";

body {
    font-family: -apple-system,"SF UI Text",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 500;
}

p {
    margin-top: 0;
}

h3 {
    margin-bottom: 0.5em;
}

h4 {
    margin-bottom: 0.25em;
    margin-top: 1.25em;
}

img {
    width: 100%;
    height: auto;
}

pre {
    overflow: auto;
}

.badge img{
    width: inherit;
    height: inherit;
}

.nb-output {
    padding-left: 1em;
    border-left: 8px solid #444;
}

pre {
    font-size: 0.9em;
}


@media (--phone-screen){
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 1.2em;
    }
}