@import url("fonts.css");

html,
body {
  margin: 0;
  width: 100%;
}

nav li::before {
  content: none;
}

h1,
h2,
p,
i,
a,
.first-letter,
.authorName a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}

.content sup {
  vertical-align: baseline;
}

.content h1 {
  font-family: Arial, sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.content h2 {
  font-weight: 700;
  padding: 0;
  line-height: 34.5px;
  /* letter-spacing: -0.45px; */
  text-align: center;
  font-size: 36px;
  font-family: Arial, sans-serif;
  margin: 1em auto;
}

.content h3 {
  font-weight: 500;
  padding: 0;
  margin: 56px 0 0px 0px;
  line-height: 34.5px;
  /* letter-spacing: -0.45px; */
  text-align: left;
  font-size: 28px;
  font-family: Tahoma, sans-serif;
}

.content li,
.content p,
.content i,
.content a {
  margin-top: 21px;
  font-family: Arial, sans-serif;
  font-size: 21px;
  letter-spacing: -0.03px;
  line-height: 1.58;
}

a {
  text-decoration: underline;
}

.content blockquote {
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-style: italic;
  /* letter-spacing: -0.36px; */
  line-height: 44.4px;
  overflow-wrap: break-word;
  margin: 55px 0 33px 0;
  /* text-align: center; */
  color: rgba(0, 0, 0, 0.68);
  padding: 0 0 0 50px;
}

pre {
  width: 100%;
  display: flex;
  overflow: auto;
  padding: 0.5em;
  max-height: 500px;
}

code {
  font-size: 18px;
  border-radius: 2px;
  padding: 3px 5px;
  background: rgb(230, 244, 250);
}

pre code {
  display: block;
  background: none;
}

.hljs {
  width: 100%;
}

mark,
.highlighted {
  background: #7dffb3;
}

.first-letter {
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

::selection {
  background-color: lavender;
}

nav.table-of-contents ol {
  padding-left: 1em;
  list-style-type: upper-roman;
}

nav.table-of-contents ol li {
  margin-top: 5px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

table {
  max-width: 100%;
  margin: 0 auto;
}

.content div > table {
  margin: 0 auto;
  min-width: 800px;
}

.content div {
  max-width: 100%;
  overflow: auto;
}

.content img {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
  display: block;
  box-shadow: none;
}

.content .license img {
  max-width: 95%;
  height: auto;
  margin-top: 0;
  box-shadow: none;
  display: inline-block;
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  blockquote {
    padding: 0 20px;
  }
}
