.avatar-container {
  margin-bottom: 2em;
  text-align: center;
  width: 100%;
}

.avatar-container img {
  max-width: 80px;
  width: 60%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #444;
}
