@import "./link.css";
@import "./color.css";
@import "./two-column.css";
@import "./typography.css";
@import "media.css";
@import "./mailchimp.css";

.main-container {
  padding-bottom: 3em;
  display: block;
}

.main-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.toc-side-container {
  display: none;
}

.blog-item-container {
  flex-shrink: 0;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-item-container.half-column {
  max-width: 390px;
}

.blog-item-container.left-half-column{
  margin-right: 10px;
}

.blog-item-container.right-half-column{
  margin-left: 10px;
}

.blog-item-header-container > h2 {
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.blog-item-description-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.blog-item-first-letter {
  font-size: 2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0.2em;
  border: 2px solid #444;
  border-radius: 5px;
  margin-right: 0.2em;
  margin-top: 0.1em;
  line-height: 1em;
  text-align: center;
}

.blog-item-description {
  flex: 1;
  color: #666;
  margin: 0;
  line-height: 1.5;
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.blog-item-footer-container {
  text-align: right;
  color: #888;
  font-size: 0.9em;
}

.blog-item-series a:any-link,
.blog-item-date a:any-link {
  color: #888;
}

.blog-item-series a:hover,
.blog-item-date a:hover {
  color: #4c9a2a;
  text-decoration: none;
}

@media (--phone-screen) {
  .blog-item-first-letter {
    font-size: 2em;
  }
}

.shortcut-top {
  display: none;
}


.pagination {
  display: flex;
}

.pagination svg {
  width: 40px;
  height: 40px;
  fill: #444;
}

.pagination svg:hover {
  color: #4C9A2A;
  fill: currentColor;
}