@import "./two-column.css";
@import "./typography.css";
@import "./link.css";
@import "./color.css";
@import "./comment.css";
@import "./mailchimp.css";
@import "katex/dist/katex.min.css";

.post-meta-container {
  text-align: right;
  color: #666;
  font-size: 0.9em;
}

.post-meta-series a:any-link,
.post-meta-date a:any-link {
  color: #666;
}

.post-meta-series a:hover,
.post-meta-date a:hover {
  color: #4c9a2a;
  text-decoration: none;
}

article {
  margin-top: 45px;
}

.nb-notebook {
  display: inline-block;
}
