@import "./two-column.css";
@import "katex/dist/katex.min.css";
@import 'tocbot/dist/styles.css';
@import "./link.css";
@import "./color.css";
@import "./typography.css";
@import "./comment.css";
@import "./mailchimp.css";
@import 'tocbot/dist/tocbot.css';
@import 'media.css';

.post-meta-container {
  text-align: right;
  color: #666;
  font-size: 0.9em;
}

.post-meta-series a:any-link,
.post-meta-date a:any-link {
  color: #666;
}

.post-meta-series a:hover,
.post-meta-date a:hover {
  color: #4c9a2a;
  text-decoration: none;
}

article {
  margin-top: 45px;
}

.nb-notebook {
  display: inline-block;
}

.toc-side-container {
  z-index: 1;
  position: sticky;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: white;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.2);
}

@media (--full-sidebar-toc) {
  .toc-side-container {
    display: block;
  }
  .toc-side-container .side-inner-container {
    overflow: hidden;
  }
}

.side-toc {
  overflow: hidden;
  width: 280px;
  margin-top: 5em;
}

.side-toc > ol.toc-list {
  list-style-type: none;
  margin-left: 20px;
}

.side-toc li {
  line-height: 1.5;
}

.toc-list-item a {
  padding: 5px 0;
  display: block;
}

.side-toc a.toc-link {
  color: #444;
}

.side-toc a.toc-link:hover {
  text-decoration: none;
}