ul.shortcut-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.shortcut-container li{
    display: block;
    margin: 0;
}

.shortcut-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.shortcut-item svg{
    width: 25px;
    height: 25px;
}

.shortcut-item svg:hover{
    color: #4C9A2A;
}