.shortcut-container {
  max-width: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
}

.shortcut-item {
  margin-bottom: 15px;
  max-width: 80px;
  width: 100%;
  height: 42px;
}

.shortcut-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
}

.shortcut-item span {
  height: 30px;
  display: block;
}


.shortcut-item svg {
  width: 25px;
  height: 25px;
}

.shortcut-item svg:hover {
  color: #4c9a2a;
}
