@import "media.css";
@import "shortcuts.css";
@import "avatar.css";
@import "footer.css";
@import "copyright.css";

body {
  margin: 0 auto;
}

.side-container {
  align-self: flex-start;
  position: sticky;
  left: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-container {
  display: flex;
}

.side-container nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  flex: 1;
  padding-bottom: 5em;
}

.main-container article {
  text-align: justify;
}

.menu-button-container {
  display: none;
  position: fixed;
  bottom: 3em;
  right: 3em;
  background: none;
  border: none;
}

@media (--extra-large-screen) {
  body {
    width: 960px;
  }
  .layout-container {
    padding-top: 5em;
  }
  .side-container {
    top: 5em;
  }
  .main-container article {
    max-width: 660px;
  }
}

@media (--large-screen) {
  body {
    width: 960px;
  }
  .layout-container {
    padding-top: 5em;
  }
  .side-container {
    top: 5em;
  }
  .main-container article {
    max-width: 660px;
  }
}

@media (--normal-screen) {
  body {
    width: 860px;
  }
  .layout-container {
    padding-top: 5em;
  }
  .side-container {
    top: 5em;
  }
  .main-container article {
    max-width: 560px;
  }
}

@media (--pad-screen) {
  body {
    width: 860px;
  }
  .layout-container {
    padding-top: 3em;
  }
  .side-container {
    top: 3em;
  }
  .main-container article {
    max-width: 560px;
  }
}

@media (--phone-screen) {
  body {
    width: 90%;
  }
  .layout-container {
    padding-top: 0;
  }

  .layout-container > .side-container {
    display: none;
  }
  .main-container article {
    max-width: 100%;
  }

  .menu-button-container {
    display: block;
  }

  #menu-button {
    display: none;
  }

  #menu-button:checked + label > span > svg {
    transform: rotate(45deg);
  }

  #menu-button:checked + label > .modal-menu {
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    transition: opacity 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    transition: height 0.8s ease-in-out;
  }

  .menu-icon svg {
    cursor: pointer;
    width: 50px;
    height: auto;
    transition: transform 0.2s ease-in-out;
    background: white;
    border-radius: 50%;
  }

  #menu-button + label > .modal-menu {
    display: flex;
    width: 0;
    height: 0;
    overflow: hidden;
    background: white;
    transition: opacity 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    transition: height 0.8s ease-in-out;
    opacity: 0;
  }

  .modal-menu .side-container {
    margin: 0 auto;
    align-self: center;
    position: relative;
    top: 0;
  }
}
