@import "prism-themes/themes/prism-ghcolors.css";
@import "media.css";

body {
  font-family: -apple-system, "SF UI Text", Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: normal;
  font-size: 16px;
  font-weight: 500;
}

article {
  text-align: justify;
  width: 100%;
}

article * {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p {
  margin-top: 0;
}

details {
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 0.5em;
}

h4 {
  margin-bottom: 0.25em;
  margin-top: 1.25em;
}

img {
  width: 100%;
  height: auto;
}

code,
pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

code {
  background: #eee;
  padding: 0 0.25em;
}

pre {
  background-color: white;
  padding: 1em;
  margin: 0.5em 0px;
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  color: #444;
}

pre,
code[class*="language-"],
pre[class*="language-"] {
  overflow: auto;
  font-size: 13px;
  line-height: 20px;
  color: #444;
  background: white;
}

pre[class*="language-"] {
  padding-left: 1.5em;
}

code[class*="language-"] {
  padding-left: 0;
}

.badge img {
  width: inherit;
  height: inherit;
}

.nb-notebook,
.nb-worksheet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nb-cell {
  width: auto;
}

.nb-input {
  position: relative;
}

.nb-input pre {
  padding-top: 35px;
  overflow: auto;
}

.nb-input:before {
  position: absolute;
  top: 10px;
  left: 12px;
  content: url("../icons/code.svg");
  width: 18px;
  height: auto;
  font-size: 1em;
  color: #ccc;
}

.nb-output {
  position: relative;
}

.nb-output pre {
  padding-top: 35px;
}

.nb-output:before {
  position: absolute;
  top: 10px;
  left: 12px;
  content: url("../icons/idea.svg");
  width: 20px;
  height: auto;
  font-size: 1em;
  color: #ccc;
}

.nb-output:after {
  position: absolute;
  top: 10px;
  left: 35px;
  content: "Output";
  font-size: 0.8em;
  color: #ccc;
}

@media (--phone-screen) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.2em;
  }
}

.line-number-row {
  counter-increment: linenumber 1;
  width: 2em;
  display: inline-block;
}

.line-number-row:before {
  content: counter(linenumber);
  text-align: right;
  color: #ccc;
}

.block-equation {
  text-align: center;
}

.footnotes li {
  font-size: 0.9em;
  text-align: left;
}

ol,
ul {
  padding-left: 1em;
}

blockquote {
  position: relative;
  color: #999;
  width: 80%;
}

blockquote:before {
  content: "“";
  font-size: 5em;
  position: absolute;
  top: -0.1em;
  left: -0.4em;
  line-height: 1;
}

blockquote:after {
  content: "”";
  font-size: 5em;
  position: absolute;
  bottom: -0.6em;
  right: -0.4em;
  line-height: 1;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
