@import "prism-themes/themes/prism-ghcolors.css";
@import "media.css";

body {
    font-family: -apple-system,"SF UI Text",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 500;
}

p {
    margin-top: 0;
}

h3 {
    margin-bottom: 0.5em;
}

h4 {
    margin-bottom: 0.25em;
    margin-top: 1.25em;
}

img {
    width: 100%;
    height: auto;
}

code, pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

code {
    background: #eee;
    padding: 0 0.25em;
}

pre {
    background-color: white;
    padding: 1em;
    margin: 0.5em 0px;
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    color: #444;
}

pre, code[class*="language-"], pre[class*="language-"] {
    overflow: auto;
    font-size: 13px;
    line-height: 20px;
    color: #444;
    background: white;
}



pre[class*="language-"] {
    padding-left: 1.5em;
}

code[class*="language-"] {
    padding-left: 0;
}

.badge img{
    width: inherit;
    height: inherit;
}

.nb-input {
    position: relative;
}

.nb-input pre {
    padding-top: 35px;
}

.nb-input:before {
    position: absolute;
    top: 10px;
    left: 12px;
    content: url('../icons/code.svg');
    width: 18px;
    height: auto;
    font-size: 1em;
    color: #ccc;
}

.nb-output {
    position: relative;
}

.nb-output pre {
    padding-top: 35px;
}

.nb-output:before {
    position: absolute;
    top: 10px;
    left: 12px;
    content: url('../icons/idea.svg');
    width: 20px;
    height: auto;
    font-size: 1em;
    color: #ccc;
}

.nb-output:after {
    position: absolute;
    top: 10px;
    left: 35px;
    content: "Output";
    font-size: 0.8em;
    color: #ccc;
}

@media (--phone-screen){
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 1.2em;
    }
}

.line-number-row {
    counter-increment: linenumber 1;
    width: 2em;
    display: inline-block;
}

.line-number-row:before {
    content: counter(linenumber);
    text-align: right;
    color:#ccc;
}

.block-equation {
    text-align: center;
}